<div class="form-container">
  <h2>Create account</h2>

  <form>
    <div class="field">
      <label for="id">Account ID</label>
      <input id="id" type="text" [formField]="form.id" />
    </div>

    <div class="field">
      @let username = form.username();
      @let showUsernameError = username.invalid() && username.touched();

      <label form="username">Username</label>
      <input
        id="username"
        type="text"
        [formField]="form.username"
        autocomplete="none"
        autofill="none"
      />
      @if (username.pending()) {
        <p class="info">Checking availability...</p>
      }
      @if (username.dirty()) {
        @for (error of username.errors(); track error.kind) {
          @if (error.kind === 'username_taken') {
            <p class="error">{{ error.message }}</p>
          }
        }
      } @else if (showUsernameError) {
        <ul class="error-list">
          @for (error of username.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <div class="field">
      @let email = form.email();
      @let showEmailError = email.invalid() && email.touched();
      <label form="email">Email</label>
      <input id="email" type="email" [formField]="form.email" autocomplete="none" autofill="none" />
      @if (showEmailError) {
        <ul class="error-list">
          @for (error of email.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <div class="field">
      @let password = form.password();
      @let showPasswordError = password.invalid() && password.touched();
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        [formField]="form.password"
        autocomplete="none"
        autofill="none"
      />
      @if (showPasswordError) {
        <ul class="error-list">
          @for (error of password.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <div class="field">
      @let confirmPassword = form.confirmPassword();
      @let showConfirmPasswordError = confirmPassword.invalid() && confirmPassword.touched();
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="confirmPassword"
        type="password"
        [formField]="form.confirmPassword"
        autocomplete="none"
        autofill="none"
      />
      @if (showConfirmPasswordError) {
        <ul class="error-list">
          @for (error of confirmPassword.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>

    <div class="field">
      @let age = form.age();
      @let showAgeError = age.invalid() && age.touched();
      <label form="age">Age</label>
      <input id="age" type="number" [formField]="form.age" autocomplete="none" autofill="none" />
      @if (showAgeError) {
        <ul class="error-list">
          @for (error of age.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>

    @if (!form.guardianName().hidden()) {
      <div class="field">
        @let guardianName = form.guardianName();
        @let showGuardianNameError = guardianName.invalid() && guardianName.touched();
        <label for="guardianName">Guardian Name</label>
        <input id="guardianName" type="text" [formField]="form.guardianName" />
        @if (showGuardianNameError) {
          <ul class="error-list">
            @for (error of guardianName.errors(); track error.kind) {
              <li>{{ error.message }}</li>
            }
          </ul>
        }
      </div>
    }

    <div class="field">
      <label>
        <input id="id" type="checkbox" [formField]="form.newsletter" />
        Subscribe to our newsletter
      </label>
    </div>
    <div class="field">
      <label for="frequency">Choose a frequency</label>
      <select id="frequency" [formField]="form.frequency">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
    </div>

    <fieldset class="alternate-emails">
      <legend>
        <span>Alternate email addresses</span>
      </legend>
      <div>
        @for (email of form.alternateEmails; track $index) {
          <div>
            <div>
              <input
                type="email"
                [formField]="email"
                [placeholder]="`Alternate email ${$index + 1}`"
                autocomplete="none"
                autofill="none"
              />
              @if (email().touched() && email().invalid()) {
                <ul class="error-list">
                  @for (error of email().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                  }
                </ul>
              }
            </div>
            <button
              type="button"
              (click)="removeAlternateEmail($index)"
              [attr.aria-label]="`Remove alternate email ${$index + 1}`"
            >
              <svg width="16" height="16">
                <use href="assets/icons.svg#icon-trash"></use>
              </svg>
            </button>
          </div>
        }
      </div>
      <footer>
        <button type="button" (click)="addAlternateEmail()" class="add-email-btn">
          <svg width="16" height="16" aria-hidden="true">
            <use href="assets/icons.svg#icon-plus"></use>
          </svg>
          <span>Add email</span>
        </button>
      </footer>
    </fieldset>

    <button type="submit">Create account</button>
  </form>
  <pre>{{ myformModel() | json }}</pre>
</div>
